$backnavbar:#ececec;
$font-google: 'Cairo',
sans-serif;
$main-color:#da2a52;
$backinput:#f3f3f3;
$whitecolor:#fff;
$size:100px;
$header-color:#240041;
$bold-font:bold;
$coloropen:#16bf4e;
$maincolor2:#240041;
$maincolor3:#ff4057;
$colorcustomers:#e5e5e5;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-google;
}

/*====start navbar=======*/
nav {
    transition: .2s all ease-in-out;
    background-color: $backnavbar;
    box-shadow: none;
}

.navbar-nav {
    margin: auto;
    text-align: center;
    transform: translateX(30px);
}

.fa-hamburger {
    color: $main-color;
    font-size: $size - 60px;

}

nav {
    .fa-user-circle {
        color: $main-color;
        font-size: 25px;
        margin-right: $size - 70px;

    }

    .fa-shopping-cart {
        color: $main-color;
        font-size: 25px;
        margin-right: $size - 80px;

    }

    .logo-photo {
        width: 120px;
        transform: translateX(50px);
    }

    .box {
        display: inline-block;
        width: 200px;
        height: 40px;
        background-color: $backnavbar;
        padding: 10px 0;
        margin-right: 10px;

        i {
            color: $main-color;
            cursor: pointer;
        }

        input {
            flex: 1;
            height: 100%;
            border: none;
            outline: none;
            padding: 3px;
            background-color: $backnavbar;
        }
    }

}

.navbar-toggler {
    outline: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;

    i {
        cursor: pointer;
    }

    .dropdown-content {
        display: block;
        position: absolute;
        background-color: #f8f9fa;
        min-width: 160px;
        box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 75px;
        left: 20px;
        opacity: 0;
        visibility: hidden;
        margin-top: 3px;
        transition: .3s all;

        a {
            padding: 12px 16px;
            color: #000;
            text-decoration: none;
            display: block;
        }
    }

}

.dropdown-content a:hover {
    background-color: #f1f1f1f1;
}

.dropdown:hover>.dropdown-content {
    visibility: visible;
    opacity: 1;
}

.dropdown-content::before,
.dropdown-content::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 0;
    left: 10px;
    top: -10px;
    border-top-color: #f8f9fa;
}
/*===end navbar=====*/
/*===start ordernav=====*/
.ordernav{
    background-color: #ec3454;;
    margin-top: 100px;
    position: relative;
padding-bottom: 20px;
    margin-bottom: 30px;
}
.ordernav .item{
    padding-top:33px;
}
.ordernav .item2{
    padding-top:33px;
}
.ordernav .item h3{
    color: $whitecolor;
text-align: center;
    font-weight: bold;
}
.ordernav  .orderl{
position: relative;
}
.ordernav .item2 h3{
 float: left;
    color: $whitecolor;
    font-weight: bold;
}
.ordernav .orderl::after{
    content: '';
    position: absolute;
    bottom: 0;
    right:-10px;
    width: 150px;
    height: 4px;
    background-color: #000;
    transform: translateY(30px);
}
/*====end ordernav=====*/
/*===start section order====*/
.orderlist .item{
    background-color: #ececec;
    border-radius: 17px;
    padding-bottom: 20px;
}
.orderlist .col-lg-8{
    margin: auto;
}
.orderlist .content{
    padding-top: 35px;
}
.orderlist .content h4{
    color: $maincolor2;
    font-weight:bold;
}
.orderlist .content p{
    color: $main-color;
    font-weight: bold;

}
.orderlist .btnaccept{
    background-color: #008d3d;;
    padding: 6px 40px;
    border-radius: 20px;
    color: #fff;

}
.orderlist .btnaccept1{
    background-color: #008d3d;;
    padding: 6px 40px;
    border-radius: 20px;
    color: #fff;

}
.orderlist .alert{
    position: fixed;
    top: 50%;
    right:-110%;
    z-index: 88888; 
}

/*===end section order=======*/
/*=====start footer=====*/
footer{
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .info-footer{
    padding: 40px 30px;
    img{
        width: 30px;
    }
    span{
        font-size: 20px;
color: $whitecolor;
margin-right: 4px;

    }
    }
    .iconfooter{
        margin-top: $size - 80px;
        p{
            color: $whitecolor;
    
        }
        i{
            color: $whitecolor;
            font-size: 20px;
            margin-right: 30px;
            margin-top: 10px;
            transition: .4s all ease-in-out;
        }
        .fa-instagram:hover{
            color: red;
        }
        .fa-twitter:hover{
            color: skyblue;
        }
        .fa-facebook-f:hover{
            color: rgb(63, 63, 221);
        }
    }
    
   .imgfooter{
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       img{
           width: 300px;
       }
   }
    
}
/*====end footer========*/
/*====start button to top=======*/
.btn-top{
    position: fixed;
    bottom: 15px;
    left:  30px;
    z-index: 88888;
}
.btn-top {
    button{
        border-radius: 50%;
        padding: 15px 20px;
        box-shadow: 3px 3px 8px #000,-3px -3px 8px #000;
        animation: scal 1.5s  infinite ease-in-out;
        display: none;
    }
}
@keyframes scal{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
/*=====end button to top========*/
/*====start loading page======*/
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #da2a52;
    z-index: 999999;
}
::-webkit-scrollbar{
    width: 0;
}
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 300px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
             
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
/*====end lodaing page======*/
/*===start media query======*/
 @media(max-width:999px) {
     nav {

         .logo-photo {
             width: 100px;
             transform: translateX(0);
             transform: translateY(30px);
         }

         .fa-shopping-cart {
             margin-right: 10px;
         }

         .fa-user-circle {
             margin-right: 10px;
         }

         .dropdown {
             float: left;

             .dropdown-content {
                 left: 10px;
                 top: 53px;
             }
         }
     }

     .navbar-nav {
         width: 100%;
         margin-top: 10px;
     }

     .form-control {
         width: 100%;

     }

     .form-group {
         margin-right: 0;
     }

     .icons {
         text-align: center;
     }

     .fa-hamburger {
         transform: translateY(-20px);
     }

   .meal{
     .image-mael {
         img {
             width: 100%;
         }
     }
   }
   .ordernav {
       margin-top: 58px;
   }
 }
 @media(max-width:767px){
    nav{
        .box{
            display: none;
        }
    }
 }
 @media(max-width:535px){
     .ordernav .item2 h3{
         font-size: 18px;
     }
     .ordernav .item h3{
         font-size: 18px;
     }
     .ordernav .orderl::after{
         width: 110px;
     }
 }
 @media(max-width:460px){
     .orderlist .item .image img{
         margin-top: 20px;
     }
 }
 @media(max-width:480px){
    nav{
        .box{
            i{
                margin-left: 5px;
            }
        }
    }
    nav{
       
        .fa-user-circle{
            margin-right: 0;
            transform: translateX(10px);
        }
        .fa-shopping-cart{
            margin-right: 0;
            transform: translateX(6px);
        }
        .box{
            margin-right: 0;
            width: auto;
        }
    }
}
@media(max-width:390px){
    .orderlist .item .image img{
        margin-top: 50px;
    }
}

@media(max-width:382px){
    .customer .span-custom{
        font-size: 20px;
    }

}
@media(max-width:375px){
    .orderlist .content h4{
        font-size: 22px;
    }
    .ordernav .item2 h3{
        font-size: 16px;
    }
    .ordernav .item h3{
        font-size: 16px;
    }
    .ordernav .orderl::after{
        width: 110px;
    }
}
@media(max-width:358px){
   nav{
       .fa-shopping-cart{
           font-size: 17px;
       }
       .fa-user-circle{
           font-size: 17px;
       }
   }
}
 /*====end media query=====*/